@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fa805e 100%);
  color: rgb(56, 6, 6);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 10px #ffe8e8;
  margin: 10px;
}

h1 {
  text-align: center;
  line-height: 40px;
}

.main-content {
  display: flex;
  margin: 0 auto;
}

.menu {
  text-align: center;
  flex: 0.2;
  font-size: 1.5rem;
}

.verses {
  display: flex;
  flex: 0.7;
    flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
}

.but {
  padding: 0.5rem 1rem;
  color: #fc5121;
  background: #ebebeb;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin-top: 20px;
}

.but:hover {
  background: #ff6f47;
  color: rgb(75, 75, 75);
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0.5rem;
  font-family: 'Piedra', cursive;
}


.arabic,
.english,
.amharic {
  margin: 5px;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  body {
      background-image: linear-gradient(120deg, #f6d365 0%, #fa805e 100%) cover;
      min-height: 100vh;
    }

  h1 {
    text-align: center;
  font-size: 3rem;
  }

  .but {
    padding: 0.3rem 0.7rem;
    color: #41221a;
    background: #fff6f6;
  font-size: 1.5rem;
  }

  .arabic,
  .english,
  .amharic {
    width: 100%;
    text-align: center;
  }

  h3 {
  font-size: 1.7rem;
    word-wrap: wrap;
  }
  
  .menu {
  font-size: 1.4rem;
    flex-wrap: 0.2;
    align-items: center;
  }
  
  .verses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  }

@media only screen and (max-width: 500px) {
  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fa805e 100%) cover;
    min-height: 100vh;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    }

  .but {
    padding: 0.3rem 0.7rem;
    color: #41221a;
    background: #fff6f6;
    font-size: 1.2rem;
  }

  .arabic,
  .english,
  .amharic {
    width: 100%;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2px;
      word-wrap: break-word;
  }

  .menu {
    font-size: 1.2rem;
    align-items: center;
    margin: 2px;
  }

  .verses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.7;
    margin: 0 5px;
  }
}