/* Player Section*/
.quran-player {
  background: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: relative;
  padding-left: 5rem;
}
#surahs {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 250px;
  height: 30px;
  font-size: 1rem;
  padding: 5px;
}
.fas {
  font-size: 50px;
  color: rgb(129, 129, 129);
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
}
.player-header {
  position: absolute;
  top: 10px;
  right: 465px;
  width: 500px;
  text-align: center;
  overflow: hidden;
}
.fas:hover {
  filter: brightness(80%);
}
.main-button {
  font-size: 60px;
}
.stop-button {
  margin-left: 5rem;
}
.player-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.maximize {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgb(116, 183, 245);
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  color: rgb(2, 0, 77);
}
.maximize:hover {
  background: rgb(92, 144, 192);
  color: black;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 601px) and (max-width: 1366px) {
  .container {
    column-gap: 20px;
    height: 600px;
  }
  .main-content {
    width: 940px;
    height: 600px;
  }
  .menu-container {
    width: 365px;
    height: 500px;
  }
  header > div {
    font-size: 3rem;
    line-height: 40px;
    margin: 1rem 0;
    padding-top: 10px;
  }
  .quran-menu {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    line-height: 35px;
  }
  .hadith-menu {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .ad {
    font-size: 1rem;
  }
  .verses {
    height: 450px;
  }
  .quran-player {
    height: 100px;
  }
}

@media (max-width: 600px) {
  .container {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  header > div {
    width: 125px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 1.5rem;
    line-height: 23px;
  }
  .main-content {
    grid-column: 3 / 8;
    grid-row: 1 / 7;
    width: 100%;
  }
  .menu-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
  }
  .menu-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .quran-menu {
    font-size: 0.75rem;
    line-height: 20px;
    width: 100%;
    margin-left: -5px;
  }
  .quran-b {
    padding: 5px 10px;
    font-size: 0.75rem;
  }
  .hadith-b {
    padding: 5px 10px;
  }
  .hadith-menu {
    font-size: 0.75rem;
    width: 100%;
    margin-left: -5px;
  }
  .quran-player {
    height: 80px;
    border-radius: 10px;
    background: rgb(228, 228, 228);
  }
  .ad {
    padding: 5px 10px;
    line-height: 1;
    width: 100%;
    margin-left: -5px;
  }
  .butn {
    /* padding: 50px 20px; */
    color: rgb(255, 255, 255);
    background: rgb(59, 41, 41);
    font-size: 0.75rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s ease;
  }

  .butn:hover {
    transform: translateY(2px);
    color: rgb(7rgb (255, 145, 0) 75);
  }
}
