/* Player Section*/
.quran-player {
  background: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: relative;
  padding-left: 5rem;
}
#surahs {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 250px;
  height: 30px;
  font-size: 1rem;
  padding: 5px;
}
.fas {
  font-size: 50px;
  color: rgb(129, 129, 129);
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
}
.player-header {
  position: absolute;
  top: 10px;
  right: 465px;
  width: 500px;
  text-align: center;
  overflow: hidden;
}
.fas:hover {
  filter: brightness(80%);
}
.main-button {
  font-size: 60px;
}
.stop-button {
  margin-left: 5rem;
}
.player-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.maximize {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgb(116, 183, 245);
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  color: rgb(2, 0, 77);
}
.maximize:hover {
  background: rgb(92, 144, 192);
  color: black;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
